.chat-window {
    border: none;
    border-radius: 0px;
}

.chat-window a {
color: #eab1c6;
}

.chat-window a:hover,
.chat-window a:focus {
color: #C7668A;
}

.chat-messages {
height: 460px;
overflow-x: hidden;
overflow-y: auto;
width: 100%;
position: relative;
border-radius: 2px 2px 0 0;
background: #BEE4F9;
}

.chat-messages-list {
list-style-type: none;
padding: 0;
margin: 0;
width: 100%;
padding: 45px 25px 5px;
}

.chat-message {
position: relative;
font-size: 0;
margin-bottom: 10px;
}

.chat-message-effect {
position: absolute;
}

.chat-message-bubble {
display: inline-block;
font-size: 14px;
max-width: 350px;
background: #fff;
padding: 8px 14px;
border-radius: 18px;
min-width: 0;
}

.chat-message-self.chat-message-merge-start .chat-message-bubble {
border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-middle .chat-message-bubble {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-end .chat-message-bubble {
border-top-right-radius: 0;
}

.chat-message-self {
text-align: right;
}

.chat-message-self .chat-message-bubble,
.chat-message-effect .chat-message-bubble {
background: #32a8e6;
color: #fff;
text-align: left;
}

.chat-input-bar {
position: relative;
background:#32A8E6;
}

.chat-input-wrapper {
position: relative;
z-index: 2;
/*background: #32A8E6;*/
padding: 0.5em 0;
border-radius: 0 0 2px 2px;
color: #fff;
}

.chat-input-wrapper,
.chat-send {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-justify-content: center;
justify-content: center;
font-size: 16px;
}

.chat-input-tool {
background: transparent;
border: none;
padding: 0 0.75em;
color: inherit;
}

.chat-input {
outline: none;
resize: none;
overflow: hidden;
min-height: 38px;
-webkit-flex: 1;
flex: 1;
font-size: 14px;
padding: 10px 0 7px;
cursor: text;
}

.chat-input:empty::before {
content: "Write something...";
color: #2B8EC2;
}

.chat-input:focus::before {
content: "";
}

.chat-send {
background: transparent;
border: none;
position: relative;
overflow: hidden;
padding: 0 0.75em;
color: inherit;
-webkit-transition: color 0.6s;
transition: color 0.6s;
}

.chat-input:empty + .chat-send {
color: #2B8EC2;
}

.chat-send>i {
position: relative;
}

.single-line {
        white-space: nowrap;
        width:200px;
        overflow: hidden;
}

.single-line br{
    display:none;
}

.chat-message i{
    font-size: 15px;
    vertical-align: bottom;
}

.chat-message-time{
    font-size: 10px;
    vertical-align: bottom;
}

.active-chat-head{
    max-height:60px !important;
    max-width:60px !important;
    border:2px solid #32A8E6;
}

.rounded-item{
    margin-left: 5px;
    max-height:50px;
    max-width:50px;
    border-radius:60px;
}

.chat-heads{
    position: absolute;
    left:5px;
    top:10px;
    z-index: 1;
}


.main-container{
    padding-left: 0;
    padding-right: 0;
}
