<div >
<div class="card col-md-5 main-container">
    <div style="min-height:35px">
        <div class="pull-right" style="float: right">
            <h5 style="padding-right: 20px;padding-top: 5px;">{{resolveUser(to)}}</h5>
        </div>
    </div>
    <div class="chat-heads">
        <img src="assets/user.png"
        *ngFor="let u of users" (click)="to=u._id" [title]="u.firstName+' '+u.lastName" class="img-thumbnail rounded-item" [ngClass]="{'active-chat-head':u._id==to}" alt="..." style="">
    </div>

<div class="chat-messages">
  <div  #scrollMe [scrollTop]="scrollMe.scrollHeight" style="overflow-y:auto">
      <div class="">
      	<ol class="chat-messages-list">
      		<li *ngFor="let m of messages[to]" class="chat-message"
                  [ngClass]="{'chat-message-friend':m.from,'chat-message-self':!m.from}">
      	           <div class="chat-message-bubble"><span *ngIf="m.from"><em>{{resolveUser(m.from)}}</em>:</span> {{m.text}}</div>
                   <span class="chat-message-time">{{resolveDateFromId(m.id)}}</span>
                   <i class="material-icons" *ngIf="!m.from && !m.seen && !m.sent">donut_large</i>
                   <i class="material-icons" *ngIf="!m.from && m.sent && !m.seen">done</i>
                   <i class="material-icons" *ngIf="!m.from && m.seen">done_all</i>
      		</li>
          </ol>
      </div>
  </div>
</div>
</div>
<div class="chat-input-bar col-md-5">
    <div class="chat-input-wrapper">
	    <!-- <button class="chat-input-tool">
            <i class="material-icons">face</i>
		</button> -->
        <button class="chat-input-tool">
            <i class="material-icons">tag_faces</i>
		</button>
	<div class="chat-input single-line" contenteditable="" #msgtext (keydown.enter)="sendMessage(msgtext,$event)">
    </div>
	<button class="chat-send" (click)="sendMessage(msgtext,$event)">
		<i class="material-icons">send</i>
	</button>
	</div>
</div>
